<div class="row">
  <div class="col-xs-6">

    <h3 class="text-info bg-info well-sm">Classes</h3>
    <p class="text-info well-sm">Add Class: <input type="text" value="" name="addclass" #addcls/>
      <button name="btnadd" class="btn btn-primary" (click)="addclass(addcls.value)">+</button></p>
      <hr/>

    <ul>
      <li *ngFor="let cls of classes" (click)="showClass(cls.ClassName)" style="cursor:pointer">{{cls.ClassName}}</li>
    </ul>
    <div *ngIf="showSuccess">
      <div class="alert alert-danger fade in">
        Bound Successfully
      </div>
    </div>

  </div>

  <div class="col-xs-6">
    <h3 class="text-success bg-success well-sm">Available Properties</h3>
    <grid-item (getFinalProperties)="activeClass.PropClasses = $event" #gitem>test</grid-item>
  </div>

</div>
<div class="row">
  <div class="col-xs-6">
    <div *ngIf="activeClass.PropClasses" style="clear:both">
      <p class="alert alert-info">Selected class:
        <mark>{{activeClass.ClassName}}</mark> &#160;&#160;&#160;&#160; <input type="button" class="btn btn-info" value="Bind Properties"
          (click)="gitem.reset();bindThis()" /></p>
      <table class="table-hover table table-striped table-condensed">
        <tr *ngFor="let prop of activeClass.PropClasses" border="1">
          <td>{{prop.name}}</td>
          <td>{{prop.type}}</td>
          <td>
            <mark>{{prop.value}}</mark>
          </td>
          <!--<td>{{prop.name}} : {{prop.value}}</td>-->
        </tr>
      </table>
    </div>
  </div>
</div>